.titolo{
    height: 100px;
    background: rgb(59, 138, 228) url(../img/pattern.png) 10% 0%;
    background-size: 400px
}

#logo{
    width: 170px;
    margin-top: 50px;
}

h1{
    margin-bottom: 0px;
}

#Autore{
    color: cyan;
}

.greytext{
    color: dimgray;
}

.data{
    font-size: 10px;
    color: dimgray;
    line-height: 1px;
    margin-top: 5px;
}

.descrizione{
    font-size: 12px;
    margin-top: 5px;
    line-height: 1px;
}

.giallo{
    background: yellow;
}

tr{

    text-align: left;
    vertical-align: middle;
}

th{
    color: white;
}

.smallcell{ 
    width: 300px;
}

.blue{
    background:dodgerblue;
}

.cyan{
    background: lightskyblue;
}

.suggeriti{
    margin-top: 10px;
    padding-left: 10px;
    color: white;
    background: url(../img/monitor.jpg) no-repeat;
    background-size: contain;
    width: 200px;
    height: 150px;
}

table{
    border-spacing: 0;